@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.vector{
  position: absolute;
  width: 455px;
  height: 497px;
  left: 9px;
  top: -102px;
  
  background: #C4C4C4;
}

.font-druk-bold{
  font-family: Druk-bold;
}

.font-syne-bold{
  font-family: Syne-Bold;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.text--fading [data-scroll='out'] .char {
  opacity: 0;
}

.links:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  background: rgb(8, 109, 204);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.links:hover:after { 
  width: 100%; 
  left: 0; 
}


@font-face {
  font-family: Druk-bold;
  src: url('./fonts/DrukTextWide/DrukTextWide-Bold.ttf');
}

@font-face {
  font-family: Syne-Bold;
  src: url('./fonts/Syne/Syne-Bold.ttf')
}

